{% load static %}

<head>

    <link rel="shortcut icon" href="{% static 'img/faviconrect.png' %}"/>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Robogals Monash</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "rgchapter/css/stylish-portfolio.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
    <!-- Header -->
    <header id="top" class="header" style="background-image: url('{% static 'rgchapter/img/rockit.jpg' %}'); background-size: cover; background-position: center;">
        <div class="text-vertical-center">
          <h1>Robogals <span id="chapter-name">&lt;Chapter Name&gt;</span></h1>
          <h3><span id="chapter-quote">&lt;Inspirational Chapter Quote here&gt;</span></h3>
            <br>
        </div>
    </header>

    <!-- Services -->
    <section id="services" class="services bg-primary blue">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>What We Do</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-book fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Workshops</strong>
                                </h4>
                                <p>We run workshops in schools and on campus with easy to program robots to help exercise student's problem solving and critical thinking skills</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-comments fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Seminars</strong>
                                </h4>
                                <p>Women in STEM seminars are held bi-annually for high school girls to help them realise their potential to make a difference in the world</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-home fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Community</strong>
                                </h4>
                                <p>Workshops are also held for the wider community at libraries, scount halls as well as for industry representatives</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-heart fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Volunteers</strong>
                                </h4>
                                <p>Robogals Monash strives to develop our volunteers by running professional development sessions for all our volunteers</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>About</h2>
                    <hr class="small">
                    <p class="lead">Robogals Monash is a not-for-profit, student-run organisation that aims to encourage more young women to pursue Science, Technology, Engineering and Mathematics career opportunities, with a particular focus on engineering. We do this by running robotics workshops for Year 3 to 12 students at schools and at Monash University. Our Lego Mindstorms EV3 robotics workshops endeavour to provide the students with an understanding of what engineering entails through presentations and set interactive programming tasks designed to encourage problem-solving and critical-thinking skills. Our volunteers are equipped with professional development opportunities that have a focus on strengthening communication and leadership skills and have a chance to apply for committee, regional and global roles within the organisation.
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

        <!-- Stats -->
    <section id="stats" class="stats bg-primary blue">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>So Far</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="stats-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-female fa-stack-1x text-primary"></i>
                            </span>
                                <h1>
                                    2200+
                                </h1>
                                <p>Females taught</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="stats-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-comments fa-stack-1x text-primary"></i>
                            </span>
                                <h1>
                                    100+
                                </h1>
                                <p>Workshops held</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="stats-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-clock-o fa-stack-1x text-primary"></i>
                            </span>
                                <h1>
                                    200+
                                </h1>
                                <p>Hours delivered</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="stats-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-users fa-stack-1x text-primary"></i>
                            </span>
                                <h1>
                                    100+
                                </h1>
                                <p>Trained volunteers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Team -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Our Team</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="portfolio-item">
                                <img class="img-portfolio img-responsive" src="{% static "rgchapter/img/marissa.jpg" %}">
                                <h3>President</h3>
                                Marissa Thomas<br>
                                Fourth Year<br>
                                Bachelor of Engineering (Chemical)<br>
                                Bachelor of Commerce (Economics)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="portfolio-item">
                                <img class="img-portfolio img-responsive" src="{% static "rgchapter/img/annie.jpg" %}">
                                <h3>Secretary/Treasurer</h3>
                                Annie Aldridge<br>
                                Fourth Year<br>
                                Bachelor of Engineering (Mechanical)<br>
                                Bachelor of Commerce (Finance)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="portfolio-item">
                                <img class="img-portfolio img-responsive" src="{% static "rgchapter/img/shervie.jpg" %}">
                                <h3>Partnerships Manager</h3>
                                Shervie Maramot<br>
                                Fifth Year<br>
                                Bachelor of Law<br>
                                Bachelor of Commerce (Finance)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="portfolio-item">
                                <img class="img-portfolio img-responsive" src="{% static "rgchapter/img/shabiha.jpg" %}">
                                <h3>Marketing Manager</h3>
                                Shabiha Sultana<br>
                                Third Year<br>
                                Bachelor of Engineering (Civil)<br>
                                Bachelor of Commerce (Finance)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="portfolio-item">
                                <img class="img-portfolio img-responsive" src="{% static "rgchapter/img/sing.JPG" %}">
                                <h3>Training Manager</h3>
                                Sing Le<br>
                                Fifth Year<br>
                                Bachelor of Mechatronics Engineering<br>
                                Bachelor of Science (Computer Science)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="portfolio-item">
                                <img class="img-portfolio img-responsive" src="{% static "rgchapter/img/kellen.JPG" %}">
                                <h3>Schools Manager</h3>
                                Kellen Huang<br>
                                Sixth Year<br>
                                Bachelor of Aerospace Engineering<br>
                                Bachelor of Arts (Behavioural Studies)
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Contact -->
    <!--
    <section id="contact" class="contact bg-primary blue">
        <div class="container">
            <div class="row text-center">
                <h2>Contact Us</h2>
                <hr class="small">
            </div>
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8 text-center">
                <form method="POST" action=".">
{#                    {% csrf_token %}#}
{#                    {{ contact|crispy }}#}
                    <button type="submit" class="btn btn-light">Send</button>
                </form>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
    </section>
-->

    <!-- replacement section -->
    <section id="contact" class="contact bg-primary blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Find Us</h2>
                    <hr class="small">
                    <p>
                        Building 72<br>
                        14 Alliance Lane<br>
                        Monash University<br>
                        VIC 3800
                    </p>
                    <ul class="list-unstyled">
                        <!-- <li><i class="fa fa-phone fa-fw"></i> +61 </li> -->
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:monash.exec@robogals.org" style="color:#0091cc">monash.exec@robogals.org</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/robogalsmonash/" style="color:#0091cc"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/robogalsmonash/" style="color:#0091cc"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/robogals_monash/" style="color:#0091cc"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Map -->
    <!--
    <section id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
        <br />
        <small>
            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
        </small>
        </iframe>
    </section>
    -->

    <!-- Footer -->
    <!--
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Robogals Monash</strong>
                    </h4>
                    <p>
                        Building 72<br>
                        14 Alliance Lane<br>
                        Monash University<br>
                        VIC 3800
                    </p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:monash.exec@robogals.org">monash.exec@robogals.org</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/robogalsmonash/"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/robogalsmonash/"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/robogals_monash/"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Robogals 2014 - 2016</p>
                </div>
            </div>
        </div>
    </footer>
-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Sponsors</h2>
                    <hr class="small">
                        <div class="col-md-6 col-lg-offset-3">
                            <img src="{% static "rgchapter/img/monash.gif" %}"><br><br>
                            <img src="{% static "rgchapter/img/anz.png" %}">
                            <br><br><br><br>
                        <hr class="small">
                        <p class="text-muted">Copyright &copy; Robogals 2014 - 2016</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

{#    <!-- Custom Theme JavaScript -->#}
{#    <script>#}
{#    // Closes the sidebar menu#}
{#    $("#menu-close").click(function(e) {#}
{#        e.preventDefault();#}
{#        $("#sidebar-wrapper").toggleClass("active");#}
{#    });#}
{##}
{#    // Opens the sidebar menu#}
{#    $("#menu-toggle").click(function(e) {#}
{#        e.preventDefault();#}
{#        $("#sidebar-wrapper").toggleClass("active");#}
{#    });#}
{##}
{#    // Scrolls to the selected menu item on the page#}
{#    $(function() {#}
{#        $('a[href*=#]:not([href=#])').click(function() {#}
{#            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {#}
{##}
{#                var target = $(this.hash);#}
{#                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');#}
{#                if (target.length) {#}
{#                    $('html,body').animate({#}
{#                        scrollTop: target.offset().top#}
{#                    }, 1000);#}
{#                    return false;#}
{#                }#}
{#            }#}
{#        });#}
{#    });#}
{#    </script>#}

    <script>
      $(document).ready(function(){
    test();
});

      var a = ['Melbourne', 'Monash', 'Canberra', 'Newcastle', 'Perth', 'UTAS'];
      var quotes = ['Changing the game with one girl at a time', 'We\'re going to build a wall', 'Inspiration at it\'s finest', 'Sing is the best'];
      var i = 0;
      var j = 0;

      function test() {
//          setInterval(function() {console.log('here');$("#chapter-name").html(a[i++]); if (i > a.length - 1) i=0;}, 1000);
//          setInterval(function() {console.log('here');$("#chapter-quote").html(quotes[j++]); if (j > quotes.length - 1) j=0;}, 6000);
      }

    </script>

</body>